/frameworks/runtime-src/proj.android/.*
/frameworks/runtime-src/proj.android/build
/frameworks/runtime-src/proj.android/local.properties
/frameworks/runtime-src/proj.android/proj.android.iml
/frameworks/runtime-src/proj.android/app/build
/frameworks/runtime-src/proj.android/app/debug
/frameworks/runtime-src/proj.android/app/app.iml
/frameworks/runtime-src/proj.android/app/src/main/assets
/frameworks/runtime-src/proj.android/libcocos2dx/build
/frameworks/runtime-src/proj.android/libcocos2dx/libs
/frameworks/runtime-src/proj.android/libcocos2dx/obj
/frameworks/runtime-src/proj.android/libcocos2dx/libcocos2dx.iml
/frameworks/runtime-src/proj.android/libcocos2dx/src/main/libcocos2dx

#/frameworks/runtime-src/proj.ios_mac

/frameworks/runtime-src/proj.win32/.vs
/frameworks/runtime-src/proj.win32/Debug.win32

/files
/src/.vscode

UserDefault.xml
debug.log